{% extends "personas/base.html" %} {% block title %} Gestión Instituto {% endblock %} {% block content%}

<br><br><br><br><br>
<div class="row">
    <div class="col-9">
        
        <div class="row">
           
            {% for producto in productos %}
            
                <div class="col-md-2 col-sm-9 col-lg-3">
                    <div class="card" style="width: 100%" >
                    <img src="{{producto.foto.url}}" style="width:100%" class="card-img-top" alt="{{producto.nombreProducto}}">
                    <div class="card-body">
                        <h5 class="card-tittle">{{producto.nombreProducto}}</h5>
                        <p class="card-text"> A tan solo ${{producto.precio}} </p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero voluptatem voluptatum consequatur. Sint facilis velit, dolores blanditiis culpa voluptates aspernatur reiciendis totam similique esse labore repellat, id, veniam sit ipsa.</p>
                        <a href="{% url 'det_prod' pk=producto.idProducto %}" class="btn btn-primary">Detalles de productos</a>
                        <a href="{% url 'Add' producto.idProducto %}" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                    </div>
                </div> 
             {%endfor%}

        </div>



        

    </div>
    <div class="col-3" style="border: 3cm;"> 
        <div class="alert alert-primary" role="alert">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="row" colspan="3" class="text-center">CARRITO</th>
                </tr>
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Cantidad</th>
                  <th scope="col">Precio</th>
                </tr>
              </thead>
              <tbody>
              {% if request.session.carrito.items %}
                  {% for key, value in request.session.carrito.items %}
                     <tr>
                      <td>{{value.nombre}}</td>
                      <td>{{value.precio}}</td>
                      <td>{{value.cantidad}}</td>
                      <td>{{value.acumulado}}
                      <a href="{% url 'Add' value.producto_id %}" class="badge btn btn-dark badge-dark">+</a>
                      <a href="{% url 'Sub' value.producto_id %}" class="badge btn btn-dark badge-dark">-</a>
                         </td>
                     </tr>
                     {% endfor %}
                {% else %}
              <tr>
                  <td colspan="3">
                      <div class="alert alert-danger text-center"> Sin Productos </div>
                  </td>
                 </tr>
                 {% endif %}
                <tr>
                  <th scope="row">Total:</th>
                  <td colspan="2">$ {{total_carrito}}</td>
                </tr>
              </tbody>
            </table>
            <hr>
            </div>
            <div class="row text-center">
                <div class="col-6"><a href="{% url 'CLS' %}" class="btn btn-danger">Limpiar</a></div>
                <div class="col-6"><a href="#" class="btn btn-success">Guardar</a></div>
            </div>


        
    </div>
</div>

{% block javascript%} {% endblock %} {% endblock %}